<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.mapper.RegisterMapper">
	<select id="getMaxCaseNumber" resultType="String">
		SELECT MAX(case_number)
		FROM
		register
	</select>
	<select id="getUsedNumberByEmployeeIdAndNoon" resultType="Int">
		SELECT
		COUNT(*) FROM register
		WHERE employee_id=#{empId}
		AND noon = #{noon}
		AND DATE(visit_date) = DATE(NOW())
		AND visit_state &lt; 3
	</select>
</mapper>